<div class="flex h-screen bg-linear-to-b from-sky-100 via-60% to-white">

  <!-- Sidebar -->
  <app-sidebar
    [collapsed]="sidebarCollapsed"
    class="transition-all duration-300 overflow-hidden"
    [ngClass]="sidebarCollapsed ? 'w-0' : 'w-64'"
  ></app-sidebar>

  <!-- Main Section -->
  <div class="flex flex-col flex-1">

    <!-- Header -->
    <app-header
      [title]="headerTitle"
      (toggleSidebar)="toggleSidebar()"
    ></app-header>

    <!-- Page Content -->
    <div class="p-6 flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>